@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/cloudy.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

Form {
  background: linear-gradient(to bottom, hsl(209,52%,29%), hsl(211,71%,15%));
  width: 440px;
}

